body{
    color: yellow;
    background-color: black;
}

.base_panel_login{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
}

.panel_login{
    margin-right: 6vw;
    margin-bottom: 20px;
}

input, textarea{
    background-color: aliceblue;
}