@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  font-size: .875rem;
  background-color: #FFFFFF;
}

.feather {
  width: 16px;
  height: 16px;
}

.glicocheck-icon{
  width: 1rem;
  height: 1rem;
  margin-left: 3px;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);  
}

.sidebar-sticky {
  height: calc(100vh - 48px);
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  background-color: #8d1818;
}

.sidebar .nav-link {
  font-weight: 500;
  color: #f7f2f2;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #eeebeb;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
}

.btn-add{
  width: 70%;
  margin-top: 100px;
}

.item-sidemenu:hover{
  background-color: rgba(5, 172, 228,.25);
}

.justify-content{
  justify-content: flex-end;
}

/*
 * Chart
 */
 .container-chart{
  width: 100%;
  height: 70vh;
 }

.visible{
  display: block;
}

.invisible{
  display: none;
}

/*
* Welcome center
*/
#welcome-center{
  display: block;
  font-size: 3vw;
  padding-top: 20vh;
  text-align: center;
}

.logo{
  width: 30rem;
  height: 16rem;
  opacity: 0.5;
}

.logo-sidebar-panel{
  width: 100%;
  display: block;
  text-align: center;
}

.logo-sidebar{
  width: 15rem;
  height: 9rem;
}

.logo-welcome-center{  
  width: 100%;
  height: auto;
}

@media (max-width: 500px) {
  .logo{
    width: 16rem;
    height: 9rem;
  }
  .justify-content{
    justify-content: center;
  }
  .nav-item{
    font-size: 5vw;
    padding-top: 10px;
  }
  .container-chart{
    height: 60vh;
  }
}

@media screen and (min-width: 760px) and (max-width: 1410px){
  .logo-sidebar{
    width: 11rem;
    height: 6rem;
  }
  .logo{
    width: 24rem;
    height: 13rem;
  }
}

/* It makes the page in landscape orientation for printing. */
@media print{@page {size: landscape}}