@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
  --sidebar-primary-color: #1195fe;
  --sidebar-secondary-color: #80c3ef;
  --white-background-color: #FFFFFF;
  --menuitem-background-color: #f6f6f6;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  font-size: .875rem;
  background-color: var(--white-background-color);
}

.main-content{
  min-height: 100vh;
}

.default-background-color {
  background-color: var(--sidebar-primary-color);
}

.default-panel-color {
  background-color: var(--white-background-color);
}

.round-border-top-left{
  border-top-left-radius: 3rem;
}

.feather {
  width: 25px;
  height: 25px;
}

.glicocheck-icon{
  width: 1rem;
  height: 1rem;
  margin-left: 3px;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  background: linear-gradient(to top, var(--sidebar-secondary-color), transparent);
}

.sidebar-sticky {
  height: calc(100vh - 48px);
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  background: linear-gradient(to top, var(--sidebar-secondary-color), transparent);
}

.sidebar .nav-link {
  font-weight: 500;
  color: var(--menuitem-background-color);
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: var(--menuitem-background-color);
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
}

.btn-add{
  width: 70%;
  margin-top: 100px;
}

.item-sidemenu{
  padding-top: 5px;
  padding-bottom: 5px;
}

.item-sidemenu:hover{
  background: linear-gradient(to right, var(--sidebar-secondary-color), transparent);
  border-radius: 20px;
}

.justify-content{
  justify-content: flex-end;
}

/*
 * Chart
 */
.container-chart{
  width: 100%;
  height: 70vh;
}

.visible{
  display: block;
}

.invisible{
  display: none;
}

.header-visibility{
  display: none;
}

/*
* Welcome center
*/
#welcome-center{
  display: block;
  font-size: 3vw;
  padding-top: 20vh;
  text-align: center;
}

.logo{
  width: 28rem;
  height: 16rem;
  opacity: 0.5;
}

.logo-sidebar-panel{
  width: 100%;
  display: block;
  text-align: center;
}

.logo-sidebar{
  width: 15rem;
  height: 8.5rem;
}

.logo-welcome-center{  
  width: 100%;
  height: auto;
}

@media (max-width: 500px) {
  .header-visibility{
    display: flex;
  }
  .logo{
    width: 16rem;
    height: 9rem;
  }
  .justify-content{
    justify-content: center;
  }
  .nav-item{
    font-size: 5vw;
    padding-top: 10px;
  }
  .container-chart{
    height: 60vh;
  }
  .round-border-top-left{
    border-top-left-radius: 0rem;
  }
  .menu_button-text{
    display: none;
  }
  .sidebar {
    background: var(--sidebar-secondary-color);
  }
}

@media screen and (min-width: 760px) and (max-width: 1410px){
  .logo-sidebar{
    width: 11rem;
    height: 6rem;
  }
  .logo{
    width: 24rem;
    height: 13rem;    
  }
}

@media only screen and (max-height: 575.98px) and (orientation: landscape) {
  #sidebarMenu {
    width: 0;
  }
  .main-content {
    width: 100%;
  }
  .round-border-top-left{
    border-top-left-radius: 0rem;
  }
  .container-chart{
    height: 105vh;
  }
}

/* It makes the page in landscape orientation for printing. */
@media print{@page {size: landscape}}