h5{
    font-weight: bold;
}

.user-profile-picture{
    height: 150px;
    width: 150px;
    border: 8px solid #eee;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%,-50%);
    z-index: 1;
}

.user-profile-picture:hover{
    cursor: pointer;
    height: 157px;
    width: 157px;
    border: 8px solid #c6ceee;
    box-shadow: 3px 3px 5px rgb(77, 91, 95);
}

.card{
    border: none;
}

.mt-80{
    margin-top: 60px;
}

.password-field{
    width: 50%;
}

.panel-buttons{
    display: flex;
    justify-content: space-between;
}

.form{
    padding-left: 20px;
    padding-right: 20px;
}

.required{
    color: red;
    font-weight: bold;
}

@media (max-width: 500px) {
    .password-field{
        width: 100%;
    }
    .panel-buttons{
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }
}