body{
    height: 100%;
}

.panel_brand_icon{
    display: flex;
    margin-top: 25px;
}

.logo {
    width: 16rem;
    height: 9rem;
}

.card_form_input{
    width: 25rem;
}

.footer{
    margin-top: 35px;
    margin-bottom: 35px;
}

.link:hover{
    background-color: rgb(224, 234, 243);
    border-radius: 20px;
}

@media (max-width: 500px) {     
    .card_form_input{
        width: 21rem;
        margin-top: 50px;
    }
    .footer{
        margin-top: 15px;
    }    
}

@media (max-width: 1000px) or (max-height: 700px) {    
    .logo{
        width: 11rem;
        height: 6rem;        
    }
}

@media (max-width: 1000px) {
    .panel_brand_icon{
        flex-direction: column;
        align-items: center;
    }
}